
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
    max-width: 600px;
    background-color: #ea9a4a;
}

h1 {
    font-size: 2rem !important;
}

.containerBody {
    max-width: 600px;
    text-align: center;
    margin:auto;
}

canvas {
    border: 1px solid black;
}

#resultat {
    font-size: 1em;
    margin-bottom: 20px;
}

.boutons-reponses {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.note-btn {
    padding: 5px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #17a2b8;
    color: white;
    border: none;
    border-radius: 5px;
}

.note-btn:hover {
    background-color: #0056b3;
}

.toggleContainer {
   position: relative;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   width: fit-content;
   border: 3px solid #343434;
   border-radius: 20px;
   background: #343434;
   color: #343434;
   cursor: pointer;
 }
 .toggleContainer::before {
   content: '';
   position: absolute;
   width: 50%;
   height: 100%;
   left: 0%;
   border-radius:20px;
   background-color: #17a2b8;
   transition: all 0.3s;
 }
 .toggleContainer.purple::before {
    background-color: #6f42c1;
 }
 .toggleCheckbox:checked + .toggleContainer::before {
    left: 50%;
 }
 .toggleContainer div {
   padding: 6px;
   text-align: center;
   z-index: 1;
 }
 .toggleCheckbox {
   display: none;
 }
 .toggleCheckbox:checked + .toggleContainer div:first-child{
   color: white;
   transition: color 0.3s;
 }
 .toggleCheckbox:checked + .toggleContainer div:last-child{
   color: white;
   transition: color 0.3s;
 }
 .toggleCheckbox + .toggleContainer div:first-child{
   color: white;
   transition: color 0.3s;
 }
 .toggleCheckbox + .toggleContainer div:last-child{
   color: white;
   transition: color 0.3s;
 }
